<%- include("partials/header"); -%>
<ol type="1">
    <li><a href="/route/notes/1">1st year</a></li>
    <li><a href="/route/notes/2">2nd year</a></li>
    <li><a href="/route/notes/3">3rd year</a></li>
    <li><a href="/route/notes/4">4th year</a></li>
</ol>